<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Pathfinder</h1>
  <p class="lead">Данный ресурс позволит облегчить вникание в мир настольной ролевой игры Pathfinder</p>
</div>
<div class="text-center">
    <img src="~/images/home/index_image.jpg" class="rounded" alt="...">
</div>
