<div class="col-md-9 col-xl-8 py-md-5 pl-md-5 bd-content">
    <form asp-action="Create" method="post">
        @await Html.PartialAsync("_CreateOrEditPartialView")
    </form>
</div>

@section scripts
{
    <script src="@Url.Content("~/js/classScript.js")" type="text/javascript"></script>
}