@model PathFinder.ViewModels.User.UserViewModel

@section styleshets
{
    <link href="~/css/update-form.css" rel="stylesheet"/>
}

<div class="py-5">
    <form class="form-update" asp-action="Edit" method="Post">
        @Html.HiddenFor(x=>x.User.Id)
        @await Html.PartialAsync("_CreateOrEditPartialView")
    </form>
</div>