@model Race

<div class="row mb-5 m-3 p-3" xmlns="http://www.w3.org/1999/html">
    <form asp-action="Create" method="post">
        @await Html.PartialAsync("RacePartialView")
    </form>
</div>
@section scripts
{
    <script src="@Url.Content("~/js/raceScript.js")" type="text/javascript"></script>
}
