@model Race

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Удаление</h1>
</div>

<div class="jumbotron text-center">
    <div class="container">
        <h1>@Model.Name</h1>
        <p class="lead">Вы действительно хотите удалить эту расу?</p>
        <p>
            <form method="post">
                @Html.AntiForgeryToken()
                <button type="submit" href="#" class="btn my-2 btn-outline-danger" asp-controller="Race" asp-action="Delete" asp-route-raceId="@Model.Id">Удалить</button>
                <a asp-controller="Race" asp-action="Edit" asp-route-raceId="@Model.Id" class="btn my-2 btn-outline-dark">Отмена</a>
            </form>
        </div>
</div>